#contents{
  width: 960px;
  margin: 0 auto;
  display: flex;
}

#main{
  width: 620px;
  margin-right: 60px;
  display: flex;
  flex-flow: column;
}

#premama{
  h2{
    background: url('#{$path--image}/ico_icons.png') no-repeat 0 -85px;
    padding: 0 0 0 25px;
  }
  ul{
    li{
      dl{
        dd{
          ul{
            li{
              border: 1px solid #ffb928;
            }
          }
        }
      }
    }
  }
}
#month_old{
  h2{
    background: url('#{$path--image}/ico_icons.png') no-repeat 0 5px;
  }
  ul{
    li{
      dl{
        dd{
          ul{
            li{
              border: 1px solid #ff71b3;
            }
          }
        }
      }
    }
  }
}
#year_old{
  h2{
    background: url('#{$path--image}/ico_icons.png') no-repeat 0 -175px;
  }
  ul{
    li{
      dl{
        dd{
          ul{
            li{
              border: 1px solid #ff71b3;
            }
          }
        }
      }
    }
  }
}

#category{
  h2{
    background: url('#{$path--image}/ico_icons.png') no-repeat 0 -265px;
  }
  ul{
    flex-wrap: wrap;
    li{
      width: 305px;
      margin-top: 10px;
      a{
        color: #343434;
        text-decoration: none;
      }
      dl{
        display: flex;
        flex-flow: row;
        dt{
          border-radius: 8px 0 0 8px;
          width: 97px;
          color: #FFF;
          font-size: 175%;
          font-weight: bold;
          text-align: center;
          background: #a7e5a8 url('#{$path--image}/ico_category01.png') no-repeat left top;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        dd{
          border: 1px solid #a7e5a8;
          padding: 15px 20px 15px 15px;
          border-radius: 0 8px 8px 0;
          line-height: 1.4;
        }
      }
    }
  }
}

.landing__section{
  h2{
    padding:  0 0 0 30px;
  }
  ul{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 0 0 20px 0;
    list-style: none;
    padding: 0;
    li{
      width: 200px;
      margin: 0;
      padding: 0;
      dl{
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        dt{
          position: relative;
          img{
            border-radius: 8px;
          }
          a{
            position: absolute;
            left: 0;
            bottom: 18px;
            display: block;
            width: 100%;
            color: #FFF;
            font-size: 150%;
            font-weight: bold;
            line-height: 1;
            text-align: center;
            letter-spacing: -1px;
            text-decoration: none;
          }
        }
        dd{
          margin: 0;
          ul{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            margin: 0 0 20px 0;
            padding: 0;
            li{
              width: 95px;
              border-radius: 8px;
              font-weight: bold;
              margin: 10px 0 0 0;
              a{
                letter-spacing: -1px;
                padding: 10px 0 10px 8px;
                font-size: 15px;
                text-decoration: none;
                color: #343434;
                display: block;
              }
              span{
                letter-spacing: -1px;
                margin: 0 3px 0 0;
                font-size: 70%;
              }
            }
          }
        }
      }
    }
  }
}