#header{
  display: flex;
  background: url('#{$path--image}/bg_header01.png') repeat-x top center;
  margin: 0 0 20px 0;
  flex-flow: column;
}

#hd_outer{
  width: 960px;
  text-align: left;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hd_logo{
  width: 440px;
  margin-bottom: 8px;
  margin-top: 0;
}

#hd_inner{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  p{
    text-align: right;
    a{
      img{
        display: inline-block;
      }
    }
  }
  ul{
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0;
  }
}

#hd_links{
  li{
    border-radius: 8px;
    background: #00C300 url('#{$path--image}/LINE_icon.png') no-repeat 5px 3px;
    padding: 6px 0 6px 30px;
    font-weight: bold;
    list-style-type: none;
    margin-right: 10px;
    line-height: 14px;
    font-size: 75%;
    a{
      display: block;
      width: 100px;
      padding: 10px 10px;
      color: #ffffff;
      font-size: 12px;
      text-decoration: none;
      text-align: center;
    }
  }

}

#gnavi{
  width: 100%;
  background: #e8e8e8;
  font-weight: bold;
  text-align: left;
  font-size: 113%;
  ul{
    position: relative;
    width: 960px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    li{
      float: left;
      width: 151px;
      background: #ffffff;
      border-radius: 8px;
      margin: 10px 5px;
      position: relative;
      &:first-child{
        margin-left: 0;
        ul{
          width: 385px;
        }
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background: #3bc1f8;
        border-radius: 8px 8px 0 0;
        transition: all .2s;
        a{
          color: #FFFFFF;
        }
        ul{
          visibility: visible;
          opacity: 1;
          top: 57px;
        }

      }
      a{
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        text-align: center;
        color: #343434;
        text-decoration: none;
        line-height: 1.5;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        width: 448px;
        position: absolute;
        top: 40px;
        left: 0;
        border: 1px solid #3bc1f8;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        padding: 0 0 10px 20px;
        border-radius: 0 8px 8px 8px;
        box-sizing: border-box;
        background: #FFFFFF;
        li{
          width: auto;
          border-bottom: 1px solid #e8e8e8;
          border-radius: 0;
          padding: 10px 40px 10px 0;
          display: flex;
          flex-wrap: wrap;
          &:hover{
            background: #FFFFFF;
          }
          &:first-child{
            padding-left: 0;
          }
          a{
            padding-left: 0;
            text-align: left;
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            color: #4e4e4e !important;
            &:hover{
              color: #3bc1f8;
            }
          }
        }
      }
    }

  }
}

